*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    flex-direction: column;
}
.container
{
    width: 60%;
    min-height: 200px;
    /* border: 1px solid #000; */
    display: flex;
    flex-direction: column;
    margin: auto;
}
.header-main{
    width: 100%;
    min-height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  
    
}
.logo h1{
    color: rgb(0, 0, 0);
    padding: 10px;
    text-align: center;
}
.header-main .logo{
    display: flex;
    flex-direction: row;
    flex-basis: 47%;
    background: #ff0084;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #33001b, #ff0084);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #33001b, #ff0084); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */


    color: white;
    justify-content: center;
    align-items: center;

}
.header-main .menu{
    display: flex;
    flex-direction: row;
    flex-basis: 50%;
    background: #16BFFD;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #CB3066, #16BFFD);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #CB3066, #16BFFD);
;
    color: rgb(0, 0, 0);
    justify-content: center;
    align-items: center;

}
.slider
{
    width: 100%;
    min-height: 200px;
    display: flex;
    flex-direction: row;
    background: #8E0E00;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #1F1C18, #8E0E00);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #1F1C18, #8E0E00); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    margin-top: 10px;
    color: white;
    justify-content: center;
    align-items: center;
}
.main-box
{
    width: 100%;
    display: flex;
    flex-direction: row;
    min-height: 250px;
    /* border: 3px solid #000; */
    justify-content: space-evenly;
    margin-top: 10px;

}
.main-box .box{
    display: flex;
    flex-direction: row;
    flex-basis: 32%;
    background: #fc00ff;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #00dbde, #fc00ff);
background: linear-gradient(to right, #00dbde, #fc00ff); 

    color: white;
    justify-content: center;
    align-items: center;
}
.con
{
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 150px;

}
.con p{

    padding: 10px;
    text-align: justify;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 1em;
}
.footer
{
    width: 100%;
    min-height: 90px;
    display: flex;
    flex-direction: row;
    background: #ff0084;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #33001b, #ff0084);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #33001b, #ff0084); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */


    color: white;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

@media only screen and (max-width: 768px) {

    .header-main
    {
        flex-direction: column;
        height: 100px;
    }
    .header-main .menu
    {
        background: #ff0084;  /* fallback for old browsers */
        background: -webkit-linear-gradient(to right, #33001b, #ff0084);  
        background: linear-gradient(to right, #33001b, #ff0084); 
        
    }
    .main-box
    {
        flex-direction: column;
        height: 500px;
    }
    .container
    {
        width: 100%;
    }
}

